
/*-----------------------------Загальні стилі---------------------------------------*/ 
body {
  font-family: 'Montserrat', sans-serif;
  background:#FFFFFF;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container {
  width: 100%;
  max-width: 1440px;
  overflow: auto; /*для flot-елементів (додаткова перестраховка)*/
  margin: 0 auto; /*щоб контент сайту був посередині*/ 
}

/*-----------------------------HEADER---------------------------------------*/ 
.header {
  background: #52503B;
  width: 100%;
  max-width: 1440px;
  border-radius: 0px;
  overflow: hidden;
}

.header-content {
  width: 1200px;
  margin-right: 120px;
  margin-left: 120px;
  margin-bottom: 10px;
  overflow: hidden;
}

.header-logo {
  width: 128px;
  margin-top: 8px;
}

.header-menu {
  margin-left: 350px;
  overflow: hidden;
}

.header-menu ul{
  overflow: hidden;
}

.header-menu li{
  float: left;  /*скорочений варіант як кожну li розмістити в ряд, не прописуючи в HTML кожній li свій клас - вказуємо header-menu li*/ 
  color: #FFFFFF;
  padding: 20px 6px;
}

/*стилізація посилань*/ 
.header-menu li a{
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none; /*прибираємо стилі що є за замовчуванням*/ 
  border-bottom: 1px solid transparent; 
  padding: 10px 6px;
}

/*стилізація під то, щоб посилання "підсвічувалось" рисочкою*/ 
.header-menu li a:hover{
  border-bottom: 1px solid #FFFFFF;
}

.header-button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  border-radius: 6px;
  color: #52503B;
  background: #FFFFFF;
  padding: 12px 18px;
  margin-top: 8px;
}

.header-button:hover {
  background: #FAF8F0;
}

/*-----------------------------MAIN---------------------------------------*/ 

/*---------------------MAIN-p.1-------------------------------*/ 
/*ЗВЕРТАЮ УВАГУ - так як картинка є фоном, на якому має розміщуватись текст (коли пройдемо відповідну тему) - 
зараз блоки в частині MAIN-p.1 розміщені із зміщенням. Прошу НЕ оцінювати даний блок як остаточний!*/

/*---------------------MAIN-p.1.1-------------------------------*/ 
.main-p1 {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.main-p1-img {
  width: 100%;
  max-width: 1440px;
}

.main-p1-content {
  width: 1200px;
  margin: 248px 120px;
  overflow: hidden;
}

/*лого білого кольору, повернутись до стилізації після вставки картинки як фону*/ 
.main-p1-1-logo {
  margin-left: 472px;
  width: 256px;
}

.main-p1-1-title {
  margin-top: 38px;
  overflow: hidden;
}

.main-p1-1-second-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 53px;
  text-align: center;
  color: #52503B; 
}

.main-p1-1-paragraph-border {
  padding-left: 454px;
  padding-right: 454px;
  margin-top: 34px;
  overflow: hidden;
}

.main-p1-1-paragraph-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #52503B; 
}

/*---------------------MAIN-p.1.2-------------------------------*/ 

.main-p1-2-container {
  width: 100%;
  max-width: 1440px;
  background:#FAF8F0;
  overflow: hidden;
}

.main-p1-2-content {
  width: 800px;
  margin: 100px 320px;
  overflow: hidden;
}

.red-line-main-p1 {
  height: 8px;
  width: 42px;
  margin-left: 364px;
  margin-bottom: 30px;
}

.main-p1-2-content-p {
  overflow: hidden;
}

.main-p1-2-content-p-left {
  width: 384px;
  padding-bottom: 10px;
  overflow: hidden; 
}

.main-p1-2-paragraph-left-border {
  overflow: hidden; 
}

.main-p1-2-paragraph-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #333333; 
}

.main-p1-2-content-p-right {
  width: 384px;
  padding-bottom: 10px;
  overflow: hidden; 
}

.main-p1-2-paragraph-right-border {
  overflow: hidden; 
}

.main-p1-button {
  background:#52503B;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-align: center;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 106px;
  border-radius: 6px;
  padding-top: 10px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.main-p1-button:hover {
  background: red;
}

/*---------------------MAIN-p.2-------------------------------*/
/*червона лінія виконана у вигляді картинки, потребує змін після вивчення відповідного матеріалу, поки показала лінію, щоб вималювати картинку блоку; 
після коригувань лінії обовязково переглянути відступи по всьому блоку*/ 
.main-p2 {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.main-p2-1-container {
  width: 100%;
  max-width: 1440px;
  background: #FFFFFF;
  overflow: hidden;
}

.red-line-main-p2 {
  height: 8px;
  width: 42px;
  padding-top: 100px;
  padding-bottom: 32px;
  padding-left: 698px;
}

.main-p2-1-title-border {
  width: 1288px;
  margin-bottom: 138px;
  margin-left: 76px;
  overflow: hidden;
}

.main-p2-1-first-title-text {
  font-family: Montserrat;
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  color: #52503B;
}

.main-p2-2-container {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.main-p2-2-img {
  width: 100%;
  max-width: 1440px;
}

/*---------------------MAIN-p.3-------------------------------*/ 
/*---------------------MAIN-p.3.1-------------------------------*/ 

.main-p3 {
  width: 100%;
  max-width: 1440px;
  background: #FAF8F0; 
  overflow: hidden;
}

.main-p3-content {
  width: 1200px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 120px;
  overflow: hidden;
}

.main-p3-content-p1 {
  width: 600px;
  margin-bottom: 32px;
  margin-left: 300px;
  overflow: hidden;
}

.red-line-main-p3 {
  height: 8px;
  width: 42px;
  margin-bottom: 28px;
  margin-left: 278px;
}

.main-p3-title-border {
  width: 396px;
  margin-left: 102px;
  margin-bottom: 12px;
  overflow: hidden;
}

.main-p3-third-title-texte {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #52503B;
}

.main-p3-paragraph-border {  
  overflow: hidden;
}

.main-p3-paragraph-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #52503B; 
}

/*---------------------MAIN-p.3.2-------------------------------*/ 
.main-p3-content-p2 {
  width: 1168px;
  margin-left: 16px;
  margin-right: 16px;
  overflow: hidden;
}

.article-1 {
  width: 346px;
  margin-right: 64px;
  overflow: hidden;
}

.main-p3-content-p2-img1 {
  height: 64px;
  width: 64px;
  margin-bottom: 10px;
  margin-left: 142px;
}

.main-p3-title-border1 {
  overflow: hidden;
}

.main-p3-fourth-title-text1 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #52503B;
}

.main-p3-2-paragraph-border1 {
  overflow: hidden;
}

.main-p3-2-paragraph-text1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #52503B;
}

.article-2 {
  width: 346px;
  margin-right: 64px;
  overflow: hidden;
}

.main-p3-content-p2-img2 {
  height: 64px;
  width: 64px;
  margin-bottom: 10px;
  margin-left: 142px;
}

.main-p3-title-border2 {
  overflow: hidden;
}

.main-p3-fourth-title-text2 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #52503B; 
}

.main-p3-2-paragraph-border2 {
  overflow: hidden;
}

.main-p3-2-paragraph-text2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #52503B;
}

.article-3 {
  width: 346px;
  overflow: hidden;
}

.main-p3-content-p2-img3 {
  height: 64px;
  width: 64px;
  margin-bottom: 10px;
  margin-left: 142px;
}

.main-p3-title-border3 {
  overflow: hidden;
}

.main-p3-fourth-title-text3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #52503B; 
}

.main-p3-2-paragraph-border3 {
  overflow: hidden;
}

.main-p3-2-paragraph-text3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #52503B;
}

/*---------------------MAIN-p.4-------------------------------*/ 
.main-p4 {
  width: 100%;
  max-width: 1440px;
  background: #FFFFFF;
  overflow: hidden;
}

.main-p4-content {
  width: 1200px;
  margin: 100px 120px;
  overflow: hidden;
}

/*---------------------MAIN-p.4.1-------------------------------*/ 
.main-p4-content-p1 {
  width: 600px;
  margin-bottom: 32px;
  overflow: hidden;
}

.red-line-main-p4 {
  height: 8px;
  width: 42px;
  margin-bottom: 28px;
}

.main-p4-title-border {
  width: 328px;
  margin-bottom: 12px;
  overflow: hidden;
}

.main-p4-third-title-texte {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #52503B;
}

.main-p4-paragraph-border {  
  overflow: hidden;
}

.main-p4-paragraph-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #52503B; 
}

/*---------------------MAIN-p.4.2-------------------------------*/ 
.main-p4-content-p2 {
  width: 1168px;
  margin-right: 16px;
  margin-left: 16px;
  overflow: hidden;
}

.main-p4-content-p2-1 {
  width: 568px;
  overflow: hidden;
}

/*артикль 1*/ 
.article-4-1 { 
  width: 568px;
  margin-bottom: 32px;
  overflow: hidden; 
}

.main-p4-content-p2-img1 {
  height: 36px;
  width: 36px;
  margin-right: 16px; 
}

.main-p4-title-article-border1 {
  padding-bottom: 10px;
  overflow: hidden;
}

.main-p4-title-article-text1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

.main-p4-title-article-paragraph {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*артикль 2*/ 
.article-4-2 { 
  width: 568px;
  margin-bottom: 32px;
  overflow: hidden;
}

.main-p4-content-p2-img2 {
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

.main-p4-title-article-border2 {
  padding-bottom: 10px;
  overflow: hidden;
}

.main-p4-title-article-text2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*артикль 3*/ 
.article-4-3 { 
  width: 568px;
  margin-bottom: 32px;
  overflow: hidden; 
}

.main-p4-content-p2-img3 {
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

.main-p4-title-article-border3 {
  width: 516px;
  padding-bottom: 10px;
  overflow: hidden;
}

.main-p4-title-article-text3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*артикль 4*/ 
.article-4-4 { 
  width: 568px;
  overflow: hidden;
}

.main-p4-content-p2-img4 {
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

.main-p4-title-article-border4 {
  padding-bottom: 30px;
  overflow: hidden;
}

.main-p4-title-article-text4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

.main-p4-content-p2-2 {
  overflow: hidden;
  width: 568px;
}

/*артикль 5*/ 
.article-4-5 { 
  width: 568px;
  margin-bottom: 32px;
  overflow: hidden; 
}

.main-p4-content-p2-img5 {
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

.main-p4-title-article-border5 {
  padding-bottom: 10px;
  overflow: hidden;
}

.main-p4-title-article-text5 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*артикль 6*/ 
.article-4-6 { 
  width: 568px;
  margin-bottom: 32px;
  overflow: hidden;
}

.main-p4-content-p2-img6 {
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

.main-p4-title-article-border6 {
  padding-bottom: 10px;
  overflow: hidden;
}

.main-p4-title-article-text6 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*артикль 7*/ 
.article-4-7 { 
  width: 568px;
  margin-bottom: 32px;
  overflow: hidden;
}

.main-p4-content-p2-img7 {
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

.main-p4-title-article-border7 {
  padding-bottom: 30px;
  overflow: hidden;
}

.main-p4-title-article-text7 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*артикль 8*/ 
.article-4-8 { 
  width: 568px;
  overflow: hidden;
}

.main-p4-content-p2-img8 {
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

.main-p4-title-article-border8 {
  padding-bottom: 10px;
  overflow: hidden;
}

.main-p4-title-article-text8 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*---------------------MAIN-p.5-------------------------------*/
.main-p5 {
  width: 100%;
  max-width: 1440px;
  background: #FAF8F0;
  overflow: hidden;
}

.main-p5-content {
  margin-top: 100px;
  margin-left: 120px;
  overflow: hidden;
}

/*---------------------MAIN-p.5.1 - відгуки у частині р.5 у вигляді слайдеру, 
після пройдення відповідного матеріалу будуть внесені коригування в частині розташування слайдеру та відстаней 
по всьому блоку р.5, бо наразі блоки зміщені один на одного-------------------------------*/ 

.main-p5-content-p1 {
  width: 600px;
  margin-right: 300px;
  margin-bottom: 32px;
  margin-left: 300px;
  overflow: hidden;
}

.red-line-main-p5 {
  height: 8px;
  width: 42px;
  margin-left: 278px;
  margin-bottom: 28px;
  overflow: hidden;
}

.main-p5-title-border {
  width: 200px;
  margin-left: 200px;
  margin-bottom: 12px;
  overflow: hidden;
}

.main-p5-third-title-texte {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #52503B;
}

.main-p5-paragraph-border { 
  width: 600px;
  overflow: hidden;
}

.main-p5-paragraph-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #52503B; 
}

/*---------------------MAIN-p.5.2 - відгуки у вигляді слайдеру, 
після пройдення відповідного матеріалу будуть внесені коригування в частині розташування слайдеру та відстаней по всьому блоку р.5-------------------------------*/ 

.main-p5-content-p2 {
  overflow: hidden;
}

/*артикль 1*/ 
.article-5-1 {
  width: 524px;
  background: #FFFFFF;
  padding: 30px;
  margin-right: 20px;
  margin-left: 16px;
  overflow: hidden;
}

.main-p5-title-article-border1 {
  width: 426px;
  margin-top: 8px;
  overflow: hidden;
}

.main-p5-title-article-text1 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #52503B;
}

.main-p5-paragraph-article-border1 {
  margin-top: 10px;
  margin-bottom: 18px;
  overflow: hidden;
}

.main-p5-paragraph-article-text1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

.main-p5-paragraph2-article-text1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*артикль 2*/ 
.article-5-2 {
  width: 524px;
  background: #FFFFFF;
  padding: 30px;
  margin-right: 20px;
  overflow: hidden;
}

.main-p5-title-article-border2 {
  width: 426px;
  margin-top: 8px;
  overflow: hidden;
}

.main-p5-title-article-text2 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #52503B;
}

.main-p5-paragraph-article-border2 {
  margin-top: 10px;
  margin-bottom: 18px;
  overflow: hidden;
}

.main-p5-paragraph-article-text2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

.main-p5-paragraph2-article-text2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*артикль 3*/ 
.article-5-3 {
  width: 524px;
  background: #FFFFFF;
  padding: 30px;
  overflow: hidden;
}

.main-p5-title-article-border3 {
  width: 426px;
  margin-top: 8px;
  overflow: hidden;
}

.main-p5-title-article-text3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #52503B;
}

.main-p5-paragraph-article-border3 {
  margin-top: 10px;
  margin-bottom: 18px;
  overflow: hidden;
}

.main-p5-paragraph-article-text3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

.main-p5-paragraph2-article-text3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52503B;
}

/*---------------------MAIN-p.6-------------------------------*/

.main-p6 {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.main-p6-1-container {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.main-p6-2-container {
  width: 100%;
  max-width: 1440px;
  background:#FFFFFF;
  overflow: hidden;
}

.main-p6-2-content {
  width: 1168px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 136px;
  overflow: hidden;
}

.main-p6-2-content-text {
  width: 552px;
  overflow: hidden;
}

.red-line-main-p6 {
  height: 8px;
  width: 42px;
  margin-bottom: 30px;
}

.main-p6-title-border {
  margin-bottom: 12px;
  overflow: hidden;
}

.main-p6-third-title-texte {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #52503B;
}

.main-p6-paragraph-border {
  width: 552px;
  overflow: hidden;
}

.main-p6-paragraph-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #52503B; 
}

/*артиклі*/ 
.main-p6-2-content-article {
  width: 552px;
  overflow: hidden;
}

/*артикль 1*/ 
.article-6-1 {
  margin-bottom: 34px;
  width: 260px;
  overflow: hidden;
}

.main-p6-content-p2-img1 {
  height: 36px;
  width: 36px;
  padding-right: 16px;
}

.main-p6-title-article-border1 {
  width: 208px;
  padding-bottom: 26px;
  overflow: hidden;
}

.main-p6-title-article-text1 { 
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #333333;
}

/*артикль 2*/ 
.article-6-2 {
  width: 260px;
  overflow: hidden;
}

.main-p6-content-p2-img2 {
  height: 36px;
  width: 36px;
  padding-right: 16px;
}

.main-p6-title-article-border2 {
  width: 208px;
  padding-bottom: 26px;
  overflow: hidden;
}

.main-p6-title-article-text2 { 
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #333333;
}

/*артикль 3*/ 
.article-6-3 {
  margin-bottom: 34px;
  width: 260px;
  overflow: hidden;
}

.main-p6-content-p2-img3 {
  height: 36px;
  width: 36px;
  padding-right: 16px;
}

.main-p6-title-article-border3 {
  width: 208px;
  padding-bottom: 26px;
  overflow: hidden;
}

.main-p6-title-article-text3 { 
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #333333;
}

/*артикль 4*/ 
.article-6-4 {
  width: 260px;
  overflow: hidden;
}

.main-p6-content-p2-img4 {
  height: 36px;
  width: 36px;
  margin-right: 16px;
}

.main-p6-title-article-border4 {
  width: 208px;
  padding-bottom: 26px;
  overflow: hidden;
}

.main-p6-title-article-text4 { 
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #333333;
}

/*---------------------MAIN-p.7-------------------------------*/

.main-p7 {
  width: 100%;
  max-width: 1440px;
  background: #FAF8F0;
  overflow: hidden;
}

.main-p7-content {
  width: 1200px;
  margin: 100px 120px;
  overflow: hidden;
}

.main-p7-content-text {
  width: 600px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  overflow: hidden;
}

.red-line-main-p7 {
  height: 8px;
  width: 42px;
  margin-left: 278px;
  margin-bottom: 28px;
}

.main-p7-title-border {
  margin-bottom: 12px;
  overflow: hidden;
}

.main-p7-third-title-texte {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #52503B;
}

.main-p7-paragraph-border {
  overflow: hidden;
}

.main-p7-paragraph-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #52503B;
}

.main-p7-content-button {
  width: 1168px;
  margin-left: 16px;
  overflow: hidden;
}

.main-p7-button-contact {
  width: 116px;
  padding: 14px 6px;
  margin-right: 20px;
  margin-left: 450px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 6px;
  color:#52503B; 
  box-shadow: none;
  cursor: pointer;
  background: #FAF8F0;
  border-color: #52503B;
}

.main-p7-button-contact:hover {
  background: red;
}

.main-p7-button-book {
  width: 133px;  
  padding: 16px 6px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-radius: 6px;
  color: #FFFFFF;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background: #52503B; 
}

.main-p7-button-book:hover {
  background: red;
}


/*---------------------FOOTER, поверутись до стилізації після вивчення теми по стилізації форм, значків-----------------------*/
.footer {
  width: 100%;
  max-width: 1440px;
  background: #52503B;
  overflow: hidden;
}

.footer-content {
  width: 1168px;
  margin: 100px 136px;
  overflow: hidden;
}

.pages {
  width: 280px;
  margin-bottom: 48px;
  overflow: hidden;
}

.footer-pages-title { 
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: #FFFFFF;
}

.footer-pages-menu {
  overflow: hidden;
}

.footer-pages-menu ul{
  overflow: hidden;
}

.footer-pages-menu li{
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
}

/*стилізація посилань*/ 
.footer-pages-menu li a{
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: none; 
  border-bottom: 1px solid transparent;
  padding: 6px 4px;
}

/*стилізація під то, щоб посилання "підсвічувалось" рисочкою, коли мишкою юзаєш рядом*/ 
.footer-pages-menu li a:hover{
  border-bottom: 1px solid #FFFFFF;
}

.social-media {
  width: 280px;
  overflow: hidden;
}

.footer-social-media-title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: #FFFFFF;
}

.social-media-a {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: none; 
  border-bottom: 1px solid transparent;
  padding-top: 4px;
  padding-bottom: 4px;
}

.footer-social-media-img {
  height: 32px;
  width: 32px;
}

.newsletter {
  width: 576px;
  margin-top: 14px;
  overflow: hidden;
}

.footer-form-title-border {
  overflow: hidden;
}

.footer-form-title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: #FFFFFF;
}

.footer-form-title-paragraph-border { 
  margin-bottom: 10px;
  overflow: hidden;
}

.footer-form-title-paragraph-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; 
  text-align: left;
  color: #FFFFFF;
}

.footer-bottom {
  width: 1168px;
  overflow: hidden;
}

.footer-logo {
  width: 200px;
  margin-bottom: 20px;
  margin-left: 484px;
  overflow: hidden;
}

.footer-bottom-paragraph {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.footer-bottom-menu-all {
  width: 1168px;
  overflow: hidden;
}

.footer-bottom-menu {
  width: 1168px; 
  overflow: hidden;
}

.footer-bottom-menu a{
  float: left;
  overflow: hidden;
}

/*стилізація посилань*/ 
.footer-bottom-menu a{
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none; /*прибираємо стилі що є за замовчуванням*/ 
  border-bottom: 1px solid transparent; 
  padding: 10px 6px;
}

/*стилізація під то, щоб посилання "підсвічувалось" рисочкою*/ 
.footer-bottom-menu a:hover{
  border-bottom: 1px solid #FFFFFF;
}

.footer-bottom-menu-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
